*{
    margin: 0;
    padding: 0;
}
.nav-bar{
    width: 100%;
    height: 10vh;
    background:#131921;
}
.nav-links{
    display: flex;
    margin:0 10% 0 50%;
    justify-content: space-around;
    color: rgb(41, 41, 41);
    list-style: none;
    padding-top: 40px;
    font-weight: bold;
    font-family: 'Playfair Display', serif;
}
.about-nav:hover{
    color: #e4cc20;
}
.skills-nav:hover{
    color: #e4cc20;
}
.resume-nav:hover{
    color: #e4cc20;
}
.education-nav:hover{
    color: #e4cc20;
}
.projects-nav:hover{
    color: #e4cc20;
}
a{
    text-decoration: none;
    color: #FFF;
}
.main{
    width:100%;
    display: flex;
    background: #fef2f2;
    background:linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.7)), url(elements/bcg1.png);
    
}
#about {
    width: 70%;
    height: 90vh;
    color: #000;
}

#skills{
    width: 70%;
    color: #000;
    margin-top: 105px;
    padding-left: 65px;
    display: none;
}
#education{
    width: 45%;
    height: 60vh;
    color: #000;
    display: none;
    margin: 10% 0 0 25%;
}
#projects{
    width: 45%;
    height: 60vh;
    color: #000;
    display: none;
    margin: 10% 0 0 25%;
    font-family:'Benne', serif;
    font-size: 18px;
}
#resume{
    width: 45%;
    height: 60vh;
    color: #000;
    margin: 10% 0 0 25%;
    display: none;
}
.pro1 {
    padding-right:0%;
}
.pic{
    width: 30%;
    height: 90vh;
  
}
.quote{
    position: absolute;
    top: 30%;
    left: 40%;
    width: 350px;
    height: 300px;

}
.desc{
    
    text-align: justify;
    font-family: 'Benne', serif;
    font-size: 20px;
}
.coma1 {
    width: 50px;
    position: absolute;
    top: 185px;
    left: 570px;
}

.coma2 {
    width: 50px;
    position: absolute;
    top: 520px;
    left: 940px;
   
}
.dec{
    color: rgb(231, 231, 10);
    font-family: 'Benne', serif;
}
.dp{
    margin-top: 100px ;
    width: 300px;

}
h2{
    font-size: 25px;
    margin: 10px 0 0 40px;
    color: #f31c5c;
}
h3{
    margin-left: 65px;
    color: #6A4952;
}
.skill-list{
    list-style: none;
    

}

.skillDetails{
    position: absolute;
    top: 15%;
    left: 27%;
    width: 350px;
    height: 300px;

}
.python{
    width:65px;
    padding-top: 8px;
    
  }

.c{
    width:3px;
    padding-top: 7px;
}
.html{
    padding-left: 20px;
    width: 80px;
    padding-top: 7px;
}
.css{
    padding-left: 20px ;
    width: 92px;
}
.git{
    padding-left: 20px ;
    width: 90px;
    padding-top: 9px;
}
h1{
    font-size:50px ;
 
}
.skil{
    position: absolute;
    top: 42%;
    left: 15%;
    font-weight: 700;
    font-family: 'Big Shoulders Stencil Display', cursive;
}
.k{
    color: #e4cc20;   
}
.contact-list{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    color: black;
    list-style: none;
    
}
.contact{
    width: 100%;
    background-color: #131921  ;  
    padding-top: 15px;
    position: fixed;
    bottom: 0;
}
.invert{
    filter: invert(100%);
}
.github{
    width: 31px;
    background: rgb(255, 255, 255);
    border-radius: 50%;
}
.linkedin-logo{
    width: 32px;
    background: rgb(255, 255, 255);
    border-radius: 50%;
}
.gmail-logo{
    width: 32px;
    background: rgb(255, 255, 255);
    border-radius: 50%;
}
.whatsapp{
    width:30px;
}
.linkedin-logo:hover,.github:hover,.gmail-logo:hover{
    transition: transform 0.4s ease-out;
    transform: rotateZ(360deg);
    border-radius: 0px;
    transition: all 0.4s;
    background: rgb(138, 138, 138);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(238,222,112,1) 46%, rgba(228,204,32,1) 100%);
}
.whatsapp:hover{
    transition: transform 0.4s ease-out;
    transform: rotateZ(360deg);
    border-radius: 0px;
    transition: all 0.4s;
    background: rgb(138, 138, 138);
    background: linear-gradient(0deg, rgba(255,255,255,0.7) 0%, rgba(238,222,112,0.7) 46%, rgba(228,204,32,0.7) 100%);
}
.APJ{
    font-size: 25px;  
}
.edu1{
    font-family: 'Lora', serif;
    font-size: 20px;
    font-weight: bolder;
    margin-left: 29px;
    
    
}
.hat{
    width: 100px;  
}
.sp{
    color: #f31b5c;
    font-weight: bolder;
}
.year{
    font-weight: bolder;
    font-family: fantasy;
    color: #f31c5c; 
}
.PRO{
    font-size: 19.5px;
    font-weight: bolder;
    color:#f31b5c;
      
}
#navAbout{
    height: 39px;
    width: 48px;
    border-radius: 5px 5px 0 0;
}
#navEdu{
    height: 39px;
    width: 77px;
    border-radius: 5px 5px 0 0;
}
#navSkill{
    height: 39px;
    width: 0 60px 0 60px;
    border-radius: 5px 5px 0 0;
}
#navResume{
    height: 39px;
    width: 0 60px 0 60px;
    border-radius: 5px 5px 0 0;
}
#navProjects{
    height: 39px;
    width: 0 60px 0 60px;
    border-radius: 5px 5px 0 0;
}
.mobile:hover,.email:hover{
    color:#e4cc20
    
}
.container {
    width: 100%;
    background-color: #e4cc20;

}
  
  .skilled {
    text-align: right;
    padding-top: 1px;
    padding-bottom: 1px;
    color: white;
    
  }
  
  .python1 {
    width: 90%;
    background-color: #131921;
    

}
  .c1 {width: 80%; background-color: #131921;}
  .html1 {width: 65%; background-color: #131921;}
  .css1 {width: 60%; background-color: #131921;}
  .git1{width: 60%; background-color: #131921;}
  * {box-sizing: border-box}

  .download{
    background-color: #ffffff;
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: #353534;
    border-style:solid;    
    color: rgb(0, 0, 0);
    margin:400px 0 0 50px;
  }

  .download-button{      
    font-size: 20px;

  }
  .icon-download{
      width: 22px;
      margin-right: 5px;      
  }
  .download:hover{      
    background-color: #ffffff;   
    color: rgb(15, 15, 15);
    border-color: #1b1b1b;
  }
  .scroll{
      position: absolute;
      top: 120px;
      left: 120px;
      width: 800px;
      height:60%;
  }
  embed{
      width: 100%;
      height: 100%;
  }

  .wrapper{
    width: 400px;
    font-family: 'Roboto', sans-serif;
    margin:0 auto;
}
.skill {
    margin-bottom: 35px;
    position: relative;
  overflow-x:hidden;
  
}
.skill > p {
    font-size: 18px;
    font-weight: 700;
    color: #1a1716;
    margin: 0;
}
.skill:before{
    width: 100%;
    height: 5px;
    content: "";
    display: block;
    position: absolute;
    background: #959595;
    bottom: 0;
}
.skill-bar {
    width: 100%;
    height: 5px;
    background:#f31c5c;
    display: block;
    position: relative;
}

/* SKILL 1 */
.skill1{
    width: 75%;
  
}
.skill-bar span{
    position: absolute;
    border-top: 5px solid #f4392f;
    top: -30px;
    padding: 0;
    font-size: 18px;
    padding: 3px 0;
    font-weight: 500;
}
.skill-bar {
    position: relative;
  
}

.skill1 .skill-count1 {
    right: 0;
}
/* SKILL 2 */
.skill2{
    width: 65%;
}

.skill2 .skill-count2 {
    right: 0;
}
/* SKILL 3 */
.skill3{
    width: 75%;
}
.skill3 .skill-count3 {
    right: 0;
}

/* SKILL 4 */
.skill4{
    width: 65%
}

.skill4 .skill-count4 {
    right: 0;
}

/* SKILL 5 */
.skill5{
    width: 80%;
}

.skill5 .skill-count5 {
    right: 0;
}

/* GITHUB SOURCE STYLE  */